.programs-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
@media screen and (max-width:600px) {
    .programs-container{
        grid-template-columns: 1fr;
    }
    
}